<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<form method="get" action="comeIn" name="form">
    <input type="submit" class="button marginButton" value="Come in" />
</form>
<form method="get" action="registration" name="form">
    <input type="submit" class="button marginButton" value="Registration" />
</form>
<input type="button" onclick="tema()" value="Сменить тему"/>
</body>
</html>
<style type="text/css">
    body{
        background-color: white;
    }
    body.dark-mode{
        background-color: black;
    }

</style>
<script type="application/javascript">
    function tema()
    {
        document.body.classList.toggle('dark-mode');
    }

</script>
