<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post" action="save" name="form" id="formDelete">
    <input value="" type="text" class="input" id="username" name="username" placeholder="login"><br>
    <input value="" type="text" class="input" id="password" name="password" placeholder="password"><br>
    <input value="" type="text" class="input" id="secondPassword" name="secondPassword" placeholder="secondPassword"><br>
    <input value="" type="text" class="input" id="email" name="email" placeholder="email"><br>
    <input value="" type="text" class="input" id="firstName" name="firstName" placeholder="userName"><br>
    <input value="" type="text" class="input" id="lastName" name="lastName" placeholder="userSurname"><br>
    <input type="submit" value="registration" class="button marginButton"/>
</form>
</body>
</html>